.chosenTags {
    display: flex;
    gap: 0.2em;
    background-color: rgba(220, 220, 114, 0.607);
    padding: 0.4em;
    overflow: auto;
    flex-wrap: wrap;
    max-width: clamp(0%, 20%, 100%);
    border: 2px solid black;
    border-radius: 6px;
  }
  
  .chosenTags button {
    margin: 0;
    padding: 5px;
    border: none;
    background-color: lightgrey;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid black;
    border-radius: 6px;
  }
  
  .chosenTags button svg {
    margin-left: 5px;
  }
  
  