.results {
    margin-top: 0px;
    display: flex;
}

/* Media query for mobile devices with max-width of 767px */
@media only screen and (max-width: 600px) {
    .results {
        display: block; /* Change to block display on mobile */
        text-align: left; /* Align text to left on mobile */
    }
}