.topBar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: clamp(3rem, 6vh, 4rem); /* Set height to 10% of viewport height */
    background: url('../../public/avfallsloggen_background.png') center top no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem; /* Add padding to ensure h1 and h3 are contained within the background */
    box-sizing: border-box; /* Include padding within the width and height of the container */
    overflow: hidden; /* Prevent overflow outside of the container */
    width: 100;
}
  
.topBar h1 {
    margin-top: 2vh;
    margin-right: 0.5em;
    font-size: clamp(1rem, 4vw, 2rem);
    font-weight: bold;
    max-width: 100%; /* Set maximum width to 100% to ensure it does not overflow outside the background */
    overflow: hidden; /* Prevent overflow outside of the container */
    cursor: pointer;
}

.topBar h3 {
    margin-top: 3vh;
    margin-left: 0.5em; /* Add margin-left for horizontal spacing */
    font-size: clamp(1rem, 4vw, 2rem);
    font-weight: lighter;
    font-style: italic;
    max-width: 100%; /* Set maximum width to 100% to ensure it does not overflow outside the background */
    overflow: hidden; /* Prevent overflow outside of the container */
}

