body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info {
  display: flex; /* Use flexbox for parent container */
  align-items: center; /* Center align items vertically */
}

.infoMessage{
  flex-grow: 1; /* Allow info message to grow and take up remaining space */
  color: red;
}

.info h2.loading {
  margin-right: 1rem; /* Add margin to the right of loading message for spacing */
}

.spinner {
  flex-shrink: 0; /* Prevent spinner from shrinking and maintain its size */
}

@media only screen and (min-width: 600px) {
  .leftOnBigScreen {
    /* Your styles for leftOnBigScreen div */
    /* ... */
    float: left; /* Float div to the left */
    width: 50%; /* Set width to 50% to take up half of the container */
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  
  .rightOnBigScreen {
    /* Your styles for rightOnBigScreen div */
    /* ... */
    float: right; /* Float div to the right */
    width: 50%; /* Set width to 50% to take up half of the container */
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  
  /* Clear floats after the floated divs */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
} 

